- var formattedTime = moment(autoTest.createdTime).format('YYYY-DD-MM  HH:mm:ss');
- var numMinutes = Math.floor((((autoTest.duration % 31536000) % 86400) % 3600) / 60);
- var numSeconds = (((autoTest.duration % 31536000) % 86400) % 3600) % 60;
td.clickable(onclick="window.document.location='/auto-tests/#{autoTest._id}';") #{autoTest.name}
td.clickable(onclick="window.document.location='/auto-tests/#{autoTest._id}';") #{autoTest.status}
td.clickable(onclick="window.document.location='/auto-tests/#{autoTest._id}';") #{autoTest.description}
- each autoTestSchemaField in autoTestSchemaFields
    td.clickable(onclick="window.document.location='/auto-tests/#{autoTest._id}';") #{autoTest.get(autoTestSchemaField.name.toLowerCase())}

td.clickable(onclick="window.document.location='/auto-tests/#{autoTest._id}';") #{formattedTime}
td.clickable(onclick="window.document.location='/auto-tests/#{autoTest._id}';") #{numMinutes}m #{numSeconds}s
td
  button.btn-link(data-toggle='modal', data-target='#myModal#{i}')
    i.fa.fa-search.fa-1x
  .modal.fade(id='myModal#{i}' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Log Details
        .modal-body
          pre
            | #{autoTest.log}